# Projeto 1 Ciênicia dos Dados - DP

Problema: Como a Cor ou Raça influência no índicie de trabalho infantil no Brasil

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\vinih\OneDrive - Insper - Institudo de Ensino e Pesquisa\Insper\3 B\DP Ciência dos Dados

In [4]:
#Se usar o arquivo descompactado
dados2015=pd.read_csv('PES2015.csv',sep=',')
dados2011=pd.read_csv('PES2011.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [11]:
dados2015=dados2015.loc[dados2015.V8005<18,['V0404','V0701','V9001','V8005']]
#V0404 cor ou raca
#V0701 trabalhou na semana 5 a 9 anos
#V9001 trabalhou na semana 10 a 18 anos
#V8005 idade

dados2014=dados2011.loc[dados2011.V8005<18,['V0404','V0701','V9001','V8005']]

In [12]:
dados2014

        V0404  V0701  V9001  V8005
2           8    NaN    3.0     15
3           2    3.0    NaN      9
6           4    NaN    3.0     17
7           8    NaN    3.0     10
9           8    NaN    1.0     11
12          8    NaN    3.0     17
13          8    NaN    3.0     12
14          8    NaN    NaN      3
30          8    NaN    NaN      3
33          8    NaN    3.0     14
34          8    3.0    NaN      6
38          6    NaN    NaN      0
42          8    NaN    3.0     16
49          2    NaN    NaN      4
50          2    NaN    NaN      2
59          8    3.0    NaN      5
60          8    NaN    NaN      3
63          8    NaN    3.0     14
65          8    NaN    3.0     12
71          8    NaN    3.0     17
76          8    3.0    NaN      5
78          2    NaN    3.0     12
79          2    3.0    NaN      8
81          8    3.0    NaN      9
82          8    NaN    NaN      4
86          2    NaN    3.0     17
90          8    NaN    3.0     15
91          8    NaN    3.0     14
96          4    3.0    NaN      6
98          2    NaN    3.0     15
...       ...    ...    ...    ...
358834      8    3.0    NaN      7
358838      8    NaN    3.0     17
358839      8    3.0    NaN      9
358840      8    3.0    NaN      6
358847      8    NaN    1.0     16
358852      8    NaN    3.0     14
358853      2    3.0    NaN      9
358856      8    NaN    NaN      2
358862      8    NaN    3.0     15
358863      8    NaN    3.0     15
358864      8    NaN    3.0     12
358868      2    NaN    3.0     13
358869      8    3.0    NaN      7
358872      8    NaN    3.0     17
358873      8    NaN    3.0     14
358877      8    NaN    3.0     15
358884      8    NaN    3.0     13
358885      8    3.0    NaN      9
358889      2    NaN    3.0     13
358890      2    NaN    3.0     11
358891      2    3.0    NaN      8
358894      2    NaN    NaN      0
358899      8    NaN    3.0     15
358902      2    NaN    NaN      1
358907      8    3.0    NaN      8
358910      2    NaN    NaN      3
358913      8    NaN    3.0     10
358914      8    3.0    NaN      9
358917      2    NaN    3.0     16
358918      2    3.0    NaN      7

[105050 rows x 4 columns]

In [13]:
dados2015

        V0404  V0701  V9001  V8005
4           8    NaN    3.0     11
5           8    3.0    NaN      7
6           8    NaN    NaN      4
15          8    NaN    NaN      1
18          8    NaN    1.0     16
19          8    NaN    3.0     11
20          8    NaN    NaN      3
23          8    NaN    3.0     16
29          8    NaN    NaN      1
32          8    NaN    3.0     10
34          8    NaN    NaN      4
44          2    NaN    3.0     16
48          8    NaN    1.0     17
51          2    3.0    NaN      5
53          8    NaN    1.0     15
64          2    3.0    NaN      7
69          8    3.0    NaN      8
72          8    NaN    3.0     17
73          4    NaN    3.0     15
74          4    NaN    3.0     12
75          8    3.0    NaN      6
79          2    NaN    3.0     14
82          8    NaN    3.0     13
85          8    NaN    3.0     15
86          2    3.0    NaN      5
87          8    NaN    NaN      2
93          2    NaN    NaN      3
96          8    3.0    NaN      8
97          8    3.0    NaN      5
98          8    NaN    NaN      1
...       ...    ...    ...    ...
356802      8    NaN    NaN      0
356808      8    3.0    NaN      9
356809      8    NaN    NaN      1
356822      2    NaN    3.0     13
356823      2    NaN    3.0     13
356824      2    NaN    3.0     11
356827      2    3.0    NaN      8
356828      2    NaN    NaN      4
356829      2    NaN    NaN      1
356832      2    3.0    NaN      7
356833      2    NaN    NaN      3
356834      2    NaN    NaN      3
356850      2    NaN    NaN      2
356854      2    NaN    3.0     16
356858      2    NaN    3.0     17
356859      8    NaN    NaN      2
356862      2    3.0    NaN      6
356870      4    NaN    3.0     11
356874      8    NaN    1.0     15
356883      2    3.0    NaN      9
356884      8    NaN    NaN      4
356887      8    NaN    NaN      4
356888      8    NaN    NaN      1
356890      4    3.0    NaN      9
356891      4    3.0    NaN      6
356892      4    3.0    NaN      5
356893      4    NaN    NaN      2
356901      8    NaN    1.0     17
356902      8    NaN    3.0     15
356903      8    3.0    NaN      7

[95270 rows x 4 columns]